{% if messages %}
    {% for message in messages %}
    	{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    	<div class="container-fluid p-0">
			<div class="alert alert-success m-2" id="msg" role="alert" >
				<p class="text-center">
					{{ message }}
				</p>
			</div>
		</div>
		{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
         <div class="container-fluid p-0">
			<div class="alert alert-danger m-2" id="msgE" role="alert" >
				<p class="text-center">
					{{ message }}
				</p>
			</div>
		</div>   
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
         <div class="container-fluid p-0">
			<div class="alert alert-info m-2" id="msgInfo" role="alert" >
				<p class="text-center">
					{{ message }}
				</p>
			</div>
		</div>   
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
         <div class="container-fluid p-0">
			<div class="alert alert-info m-2" id="msgW" role="alert" >
				<p class="text-center">
					{{ message }}
				</p>
			</div>
		</div>   
        {% endif %}
    {% endfor %}
{% endif %} 